
/site
venv/
target
build/Release
.serverless/
**/mutants.out*/
*$py.class
Module.symvers
*.mod*
*.egg
.cache
lib/
env.bak/
*.ilk
*.pch
*.d
debug
*.obj
.nuxt
*.dSYM/
/public/build
modules.order
share/python-wheels/
.parcel-cache
develop-eggs/
.env
.stylelintcache
yarn-debug.log*
.ruff_cache/
*.seed
wheels/
bower_components
!.yarn/patches
app/storage/
Homestead.yaml
*.pid
local_settings.py
Mkfile.old
public/storage
.dmypy.json
*.ko
*.cover
cover/
.temp
.dynamodb/
.abstra/
.eslintcache
downloads/
**/.vitepress/dist
docs/_build/
mnesia/
*.dll
bootstrap/compiled.php
.npm
dmypy.json
db.sqlite3-journal
!.env.example
Homestead.json
.streamlit/secrets.toml
.installed.cfg
.pytype/
storage/*.key
nosetests.xml
*.map
.firebase/
celerybeat.pid
*.gch
.eggs/
pip-delete-this-directory.txt
.next
marimo/_lsp/
.mypy_cache/
build/
.venv
__pycache__/
profile_default/
.hypothesis/
*.lo
sdist/
.tern-port
*.pot
.fusebox/
.envrc
MANIFEST
.docusaurus
*.manifest
.svelte-kit/
venv.bak/
.ropeproject
out
*.app
logs
*.out
dkms.conf
.tox/
*.pdb
.pyre/
rabbitmq-data/
*.mo
.lock-wscript
.env.backup
.pdm-python
*.hex
pids
.webassets-cache
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.phpunit.result.cache
*.lcov
var/
*.slo
cython_debug/
!.yarn/sdks
instance/
!.yarn/releases
lerna-debug.log*
node_modules/
*.tgz
.node_repl_history
!.yarn/versions
*.egg-info/
*.log
.env.*
**/.vitepress/cache
*.lib
.yarn-integrity
*.i*86
vite.config.js.timestamp-*
*.la
composer.phar
*.lai
.nox/
public_html/hot
npm-debug.log
dist/
*.so.*
*.su
.ipynb_checkpoints
**/*.rs.bk
*.a
*.spec
yarn-error.log
__marimo__/
/vendor/
*.tsbuildinfo
.vuepress/dist
.coverage.*
pip-log.txt
/.vagrant
.Python
eggs/
*.x86_64
htmlcov/
.pdm-build/
__pypackages__/
*.pid.lock
.grunt
.vite/
*.idb
yarn-error.log*
.phpactor.json
.yarn/*
web_modules/
.env.production
dist
auth.json
.pytest_cache/
.pybuilder/
*.aof
*.py.cover
jspm_packages/
target/
coverage
activemq-data/
vite.config.ts.timestamp-*
npm-debug.log*
ENV/
*.smod
!.yarn/plugins
*.py[codz]
public/hot
parts/
.vscode-test
.spyproject
.pixi
env/
*.dylib
lib64/
*.rdb
/storage/pail
.output
.cache/
*.exe
.scrapy
*.so
*.elf
.pnp.*
db.sqlite3
coverage.xml
rabbitmq/
public_html/storage
celerybeat-schedule
ipython_config.py
*.sage.py
lib-cov
.spyderproject
.tmp_versions/
.coverage
*.o
*.mod
*.cmd
.pypirc
marimo/_static/
*.exp
.nyc_output
*.dwo
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,GitBook,GitHubPages,c,cmake,c++,rust,composer,laravel` for https://github.com/The-Apokryf/base-devnotes-template.git with  [UNIXUSAT=1765915631443]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
